## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import google_key

# Configure gmaps API key
gmaps.configure(api_key=google_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database.csv")
city_data_df.head()

,City ID,City,Country,Date,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kumano,JP,2021-12-21 09:22:55,34.3442,132.5894,56.35,74,4,7.61
1,1,Ushuaia,AR,2021-12-21 09:20:56,-54.8000,-68.3000,46.06,61,20,34.52
2,2,Albany,US,2021-12-21 09:21:12,42.6001,-73.9662,32.72,70,89,1.01
3,3,Biak,ID,2021-12-21 09:22:56,-0.9131,122.8766,78.53,80,100,5.82
4,4,Iqaluit,CA,2021-12-21 09:21:29,63.7506,-68.5145,-11.31,76,20,13.00

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("What is the minimum temperature you would prefer for your trip?  "))
max_temp=float(input("What is the maximum temperature you would prefer for your trip?  "))

What is the minimum temperature you would prefer for your trip?  75
What is the maximum temperature you would prefer for your trip?  90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc
preferred_vacay_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_vacay_df.head(10)

,City ID,City,Country,Date,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Biak,ID,2021-12-21 09:22:56,-0.9131,122.8766,78.53,80,100,5.82
6,6,Port Alfred,ZA,2021-12-21 09:22:57,-33.5906,26.8910,77.49,71,29,22.91
7,7,Cape Town,ZA,2021-12-21 09:22:58,-33.9258,18.4232,89.11,44,0,3.44
12,12,Atuona,PF,2021-12-21 09:22:21,-9.8000,-139.0333,77.70,77,46,13.24
15,15,Busselton,AU,2021-12-21 09:20:44,-33.6500,115.3333,88.09,51,52,20.83
23,23,Bredasdorp,ZA,2021-12-21 09:23:04,-34.5322,20.0403,80.28,73,75,12.66
24,24,Avarua,CK,2021-12-21 09:23:04,-21.2078,-159.7750,77.05,78,40,5.75
26,26,East London,ZA,2021-12-21 09:23:05,-33.0153,27.9116,79.74,69,20,17.27
27,27,Poum,NC,2021-12-21 09:21:21,-20.2333,164.0167,80.40,81,10,12.80
28,28,Trenggalek,ID,2021-12-21 09:22:28,-8.0500,111.7167,77.45,93,100,0.98

In [5]:
# 4a. Determine if there are any empty rows.
preferred_vacay_df.count()

City ID       201
City          201
Country       200
Date          201
Latitude      201
Longitude     201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_preferred_df=preferred_vacay_df.dropna()
new_preferred_df.head(10)

,City ID,City,Country,Date,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Biak,ID,2021-12-21 09:22:56,-0.9131,122.8766,78.53,80,100,5.82
6,6,Port Alfred,ZA,2021-12-21 09:22:57,-33.5906,26.8910,77.49,71,29,22.91
7,7,Cape Town,ZA,2021-12-21 09:22:58,-33.9258,18.4232,89.11,44,0,3.44
12,12,Atuona,PF,2021-12-21 09:22:21,-9.8000,-139.0333,77.70,77,46,13.24
15,15,Busselton,AU,2021-12-21 09:20:44,-33.6500,115.3333,88.09,51,52,20.83
23,23,Bredasdorp,ZA,2021-12-21 09:23:04,-34.5322,20.0403,80.28,73,75,12.66
24,24,Avarua,CK,2021-12-21 09:23:04,-21.2078,-159.7750,77.05,78,40,5.75
26,26,East London,ZA,2021-12-21 09:23:05,-33.0153,27.9116,79.74,69,20,17.27
27,27,Poum,NC,2021-12-21 09:21:21,-20.2333,164.0167,80.40,81,10,12.80
28,28,Trenggalek,ID,2021-12-21 09:22:28,-8.0500,111.7167,77.45,93,100,0.98

In [7]:
new_preferred_df.count()

City ID       200
City          200
Country       200
Date          200
Latitude      200
Longitude     200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df=new_preferred_df[["City", "Country","Max Temp","Latitude","Longitude"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"]=""
hotel_df.head(10)

           City Country  Max Temp  Latitude  Longitude Hotel Name
3          Biak      ID     78.53   -0.9131   122.8766
6   Port Alfred      ZA     77.49  -33.5906    26.8910
7     Cape Town      ZA     89.11  -33.9258    18.4232
12       Atuona      PF     77.70   -9.8000  -139.0333
15    Busselton      AU     88.09  -33.6500   115.3333
23   Bredasdorp      ZA     80.28  -34.5322    20.0403
24       Avarua      CK     77.05  -21.2078  -159.7750
26  East London      ZA     79.74  -33.0153    27.9116
27         Poum      NC     80.40  -20.2333   164.0167
28   Trenggalek      ID     77.45   -8.0500   111.7167

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {"radius": 5000, "type": "lodging", "key": google_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat=row["Latitude"]
    long=row["Longitude"]
    # 6c. Get latitude and longitude from DataFrame
    params["locations"]=f"{lat},{long}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")
hotel_df.head(10)

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

           City Country  Max Temp  Latitude  Longitude Hotel Name
3          Biak      ID     78.53   -0.9131   122.8766
6   Port Alfred      ZA     77.49  -33.5906    26.8910
7     Cape Town      ZA     89.11  -33.9258    18.4232
12       Atuona      PF     77.70   -9.8000  -139.0333
15    Busselton      AU     88.09  -33.6500   115.3333
23   Bredasdorp      ZA     80.28  -34.5322    20.0403
24       Avarua      CK     77.05  -21.2078  -159.7750
26  East London      ZA     79.74  -33.0153    27.9116
27         Poum      NC     80.40  -20.2333   164.0167
28   Trenggalek      ID     77.45   -8.0500   111.7167

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.dropna()
clean_hotel_df.count()

City          200
Country       200
Max Temp      200
Latitude      200
Longitude     200
Hotel Name    200
dtype: int64

In [14]:
# 8a. Create the output File (CSV)
output_data_file="weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Latitude", "Longitude"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))